#product-show{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

#product-img{
    width: 500px;
    border: 1px solid black;
}

.product-details{
    width: 500px;
    height: 100%;
    /* background-color: blue; */
}
