{% extends "mainapp/layout.html" %}
{% load static %}
{% load mathfilters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/cartpage.css' %}">
{% endblock %}

{% block title %}
Cart Page
{% endblock %}

{% block body %}
    <div id="images" class="grid">
        <div class="main-menu-block">
            <ul class="main-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% for k, v in main_menu.items %}
                    <li><a href="{% url 'category' k %}">{{ k }}</a> <!-- Category -->
                        <ul class="sub-menu1">
                            {% for i in v %}
                                <a href="{% url 'category' i %}">{{ i }}</a>  <!-- Sub Category -->
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="category-name">
            <h1>{{ name }}</h1>
        </div>
    </div>

    <div id="cart-container" class="grid">
        <form class="" action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <table id="cartdetails">
                <tr>
                    <th>No.</th>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Remove</th>
                </tr>
                {% for i in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img id="p-img" src="{{ i.product.product_img.url }}" class="model"><a href=""> {{ i.product.product_name }} </a></td>
                    <td>{{ i.product.price }} taka</td>
                    <td class="quanti">
                        <p class="quantity">{{ i.quantity }}</p>
						<div class="quantity">
							<img data-product="{{ i.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static  'mainapp/images/arrow-up.png' %}">

							<img data-product="{{ i.product.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static  'mainapp/images/arrow-down.png' %}">
						</div>
                    </td>
                    <td>{{ i.get_total }} taka</td>
                    <td><a href=""><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="subtotal">
                <div class="promocode">
                    <form class="" action="index.html" method="post">
                        <h2>Add Promo Code</h2>
                        <input type="text" name="" value="">
                        <input type="submit" name="" value="Apply">
                    </form>
                </div>
                <div class="CheckOut">
                    <table>
                        <tr>
                            <td><h2>Sub Total: </h2></td>
                            <td><h3>{{ order.get_cart_total|sub:50|floatformat:2 }} Taka</h3></td>
                        </tr>
                        <!-- <tr>
                            <td><h2>Discount <h5> (5%)</h5> :</h2></td>
                            <td><h3> 50 taka</h3></td>
                        </tr> -->
                        <tr>
                            <td><h2>Delivery fee:</h2></td>
                            <td><h3> 50 taka</h3></td>
                        </tr>
                        <tr>
                            <td><h2>Total:</h2></td>
                            <td><h3> {{ order.get_cart_total|floatformat:2 }} Taka</h3></td>
                        </tr>
                    </table>
                    <input type="submit" name="" value="CheckOut">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
