{% extends "mainapp/layout.html" %}
{% load static %}

{% block title %}
Songkolok
{% endblock %}


{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}


<div id="images" class="grid">
    <div class="slideshow-container">
    {% for i in posters %}
        <div class="mySlides fade">
            <img src="{{ i.img.url }}">
        </div>
    {% endfor %}
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
              slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>


    <div class="main-menu-block">
        <ul class="main-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% for k, v in main_menu.items %}
            <li><a href="{% url 'category' k %}">{{ k }}</a> <!-- Category -->
                <ul class="sub-menu1">
                    {% for i in v %}
                    <a href="{% url 'category' i %}">{{ i }}</a> <!-- Sub Category -->
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="best-products" class="grid">
    <h1>Best Sell Products</h1>
    <!-- {% if s == True %}
        <h1>{{ OK }}</h1>
    {% endif %}     -->
    <div class="carousel" data-flickity='{ "wrapAround": true }'>
        {% for product in products %}
        <div class="carousel-cell">
            <a href="{% url 'product_show' product.id %}" class="product-link" data-toggle="model" data-name="{{ product.title }}" data-img="{{ product.product_img.url }}" data-price="Total Price: {{ product.price }} Taka" data-description="{{ product.description }}"
                data-size="{{ product.size }}"><img src="{{ product.product_img.url }}">
                <div class="details">
                    <h4>{{ product.title }}</h4>
            </a>
            <h3>Price: {{ product.price }} tk</h3>
            <button data-product={{product.id}} data-action="add" id="cart-bag" class='update-cart' type="button" name="button">Add To Cart</button>
        </div>
    </div>
    {% endfor %}
</div>
</div>

<div id="product-category" class="grid">
    <h1>Category</h1>
    <div class="category-box">
        {% for category in categories %}
        <div class="box2"><img src="{{ category.category_img.url }}" alt="">
            <div class="text">{{ category.category_name }}</div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
