{% extends "mainapp/layout.html" %}
{% load static %}

{% block title %}
Songkolok
{% endblock %}


{% block body %}

<div id="images" class="grid">
    <img src="{% static 'mainapp/images/poster4.png' %}" alt="">
    <div class="main-menu-block">
        <ul class="main-menu">
            {% for k, v in main_menu.items %}
                <li><a href="{% url 'category' k %}">{{ k }}</a> <!-- Category -->
                    <ul class="sub-menu1">
                        {% for i in v %}
                            <a href="{% url 'category' i %}">{{ i }}</a>  <!-- Sub Category -->
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="best-products" class="grid">
    <h1>Best Sell Products</h1>
        <div class="carousel" data-flickity='{ "wrapAround": true }'>
            {% for product in products %}
            <div class="carousel-cell">
                <a class="product-link" data-toggle="model"
                data-name="{{ product.title }}" data-img="{{ product.product_img.url }}" data-price="Total Price: {{ product.price }} Taka"
                onclick="OpenProduct()"><img src="{{ product.product_img.url }}" ></a>
                <div class="details">
                    <h4  >{{ product.title }}</h4>
                    <h3>Price: {{ product.price }} tk</h3>
                    <i id="cart-bag" class='fas fa-shopping-bag'></i>
                </div>
            </div>
            {% endfor %}
        </div>
</div>


<div id="product-category" class="grid">
    <h1>Category</h1>
    <div class="category-box">
        {% for category in categories %}
        <div class="box2"><img src="{{ category.category_img.url }}" alt="">
            <div class="text">{{ category.category_name }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="product-show" id="product-show">
    <div class="main-product" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeProduct()">&times;</a>
        <div class="product" id="product">
            <img id="product-img" src=""/>
            <h1 id="product-name"></h1>
            <form class="cart-form" action="" method="post">
                <div class="field">
                    <div class="label">Color</div>
                    <select class="" name="">
                        <option value="White">White</option>
                        <option value="Black">Black</option>
                        <option value="Red">Red</option>
                    </select>
                </div>
                <div class="field">
                    <div class="label">Size</div>
                    <select class="" name="">
                        <option value="White">S</option>
                        <option value="Black">M</option>
                        <option value="Red">L</option>
                        <option value="Red">XL</option>
                        <option value="Red">XXL</option>
                    </select>
                </div>
                <div class="field">
                    <div class="label">Qualtity</div>
                    <input type="number" min="1" name="" value="1">
                </div>
                <div class="">
                    <h2 id="product-price">Total Price:  Taka</h2>
                </div>
                <input type="submit" name="" value="Add To Cart">
            </form>
        </div>
        <div class="product-details">
            <h2>Description</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quaerat praesentium dolores iure, quae, quo itaque quod beatae error ratione expedita quisquam sed! Fuga fugit nihil aliquam voluptates iusto minus rerum, illum nesciunt debitis dolor quaerat suscipit, autem tenetur at eos, vero quidem hic cumque corporis? Nisi, eius laborum est?</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('.product-link').click(function(){
        $('#product-name').html($(this).data('name'));
        $('#product-price').html($(this).data('price'));
        $('#product-img').src($(this).data('img'));
    });
</script>

{% endblock %}
