body {
  font-family: "Times New Roman", Times, serif;
}



#product-show{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}


#product-img{
    width: 350px;
    /* height: 240px; */
    float: left;
    margin-right: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 25px 0px rgb(0, 0, 0);
}

#product-img:hover{
    transform: scale(1.2);
}

.product-details{
    width: 500px;
    height: 100%;
    /* background-color: blue; */
}


.field{
    margin-bottom: 10px;
    /* background: red; */
    height: 15%;
}

.cart-form{
    height: 50%;
}

.field h2{
    margin-top: 25px;
}



.label{
    margin-top: 15px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
}

.cart-form button{
    padding: 13px;
    padding-right: 35px;
    padding-left: 30px;
    margin-top: 10px;
    background: #c60000;
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-form button:hover{
    background: #8a0000;
}

.product-details{
    margin-top: 5px;
}

.product-details p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.field input[type=number]{
    background-color: #fffadf;
    color: black;
    padding: 12px;
    width: 50px;
    border: none;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}


.product-details select{
    background-color: #fffadf;
    color: black;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box select option {
  padding: 30px;
}
